{% macro render_field(field, value=None) %}
  <div class="field has-feedback {% if field.errors %}has-error{% endif %}">
    {% if field.errors %}
      <div class="errors">
        {%- for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
    {{ field.label }}
    {% if value %}
      {{ field(class_="form-control", value=value)|safe }}
    {% else %}
      {{ field(class_="form-control")|safe }}
    {% endif %}
  </div>
{% endmacro %}