<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{%- block pagetitle -%}{%- endblock -%}&nbsp;| 757Charity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="http://localhost:5000/static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="http://localhost:5000/static/styles/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header/navbar content -->
    {%- block topbar -%}
      <header class="topbar">
        <div class="fill">
          <div class="container">
            <h1><a href="/" class="brand">757charity</a></h1>

            <nav>
              <ul class="visible-lg visible-md nav navbar-nav navbar-right">
                <li><a href="http://localhost:5000/">Home</a></li>
                <li><a href="#">Latest Listings</a></li>
                <li><a href="#">Sponsors</a></li>
                {% if session.logged_in %}
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="http://localhost:5000/account/settings/">Settings</a></li>
                      <li><a href="http://localhost:5000/logout/">Log Out</a></li>
                    </ul>
                  </li>
                {% else %}
                  <li><a href="http://localhost:5000/login/">Log In</a></li>
                  <li><a href="http://localhost:5000/register/">Register</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </header>
    {%- endblock -%}
    <!-- End header/navbar content -->

    <!-- Flashed messages content -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <p class="bg-{{ category }}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <!-- End flashed messages content -->

    <div id="content">
      <!-- Page content -->
      {% block content %}{% endblock %}
      <!-- End page content -->
    </div>

    <!-- Footer content -->
    {% block js_footer %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/bower_components/validatinator/js/validatinator.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/bower_components/bootstrap/js/dropdown.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/scripts/main.js"></script>
    <!-- End footer content -->
  </body>
</html>
