{% from "_helpers/navhelpers.html" import nav_link, multi_tiered_nav %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{%- block pagetitle -%}{%- endblock -%}&nbsp;| 757Charity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/main.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js') }}"></script>
  </head>

  <body>
    <!-- Header/navbar content -->
    {%- block topbar -%}
      <header class="top-bar" data-topbar>
        <div class="content-center">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="{{ url_for('home.home') }}">757charity</a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon">
              <a href="#">Menu</a>
            </li>
          </ul>

          <nav class="top-bar-section">
            <ul class="right">
              {{ nav_link('home.home', 'Home') }}
              {{ nav_link('listings.latest', 'Latest Listings') }}
              <li><a href="#">Sponsors</a></li>

              {% if session.logged_in %}
                {{ multi_tiered_nav('Account', { 'Settings': 'users.settings', 'Log Out': 'users.logout' }) }}
              {% else %}
                {{ nav_link('users.login', 'Log In') }}
                {{ nav_link('users.register', 'Register') }}
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>
    {%- endblock -%}
    <!-- End header/navbar content -->

    <!-- Flashed messages content -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div data-alert class="alert-box {{ category }}">
              <p class="content-center">
                {{ message }}
                <a href="#" class="close">&times;</a>
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <!-- End flashed messages content -->

    <!-- Page content -->
    <div id="content">
      <div class="content-center">
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- End page content -->

    <!-- Footer content -->
    {% block js_footer %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/validatinator/js/validatinator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <!-- End footer content -->
  </body>
</html>
