<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welt Charity</title>
    <link href="http://localhost:5000/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
              <a href="/" class="brand">Welt Charity</a> <small>Hampton Road's Free Section</small>
          </h2>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
    <script type="text/javascript" src="http://localhost:5000/static/validatinator/js/validatinator.min.js"></script>
  </body>
</html>