/********************************************************
 *                  Table Of Contents
 *
 *  1.) Header/Navbar
 *  2.) Flashes
 *  3.) Content Area
 *  4.) Footer
 *
 *
 */

body {
    background-color: #EEF2F5;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

/*****************************
 *      HEADER/NAVBAR
 */
header {
    background-color: #373E49;
    height: 76px;
    position: fixed;
    width: 100%;
}
    header h1, header h1 a {
        float: left;
        color: #fff;
        transition: color 1s;
        -webkit-transition: color 1s;
        -o-transition: color 1s;
        -moz-transition: color 1s;
    }
    header h1 a:hover {
        text-decoration: none;
        color: #A2B1BA;
    }


ul.nav li a {
    color: #ffffff;
    padding: 28px 15px;
    background-color: #373E49 !important;
    border-right: 1px solid #626C7F;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
}
    ul.nav li:last-child a {
        border-right: none;
    }

    ul.nav li a:hover, ul.nav .open > a {
        background-color: #626C7F !important;
        color: #fff;
    }

        ul.nav > li > ul {
            left: -2px !important;
            top: 99% !important;
            margin: 0;
            padding: 0;
        }

            ul.nav li ul li {
                border-top: 1px solid #626C7F;
            }

                ul.nav li ul li a {
                    padding: 10px;
                }


/***************************
 *      FLASHES
 */
.flashes > p {
    padding: 15px;
}


/***************************
 *      CONTENT AREA
 */
.home-hero-image {
    background: url("http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52a088bb6fb98_1.JPG") center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
}
